<%- include('header') %>

<div class="panel panel-info">
    <div class="panel-heading">词性添加</div>
    <div class="panel-body" style="padding: 0px">
        What an error
    </div>
</div>

<%- include('footer') %>
