
            </div>
        </div>
    </div>
    <!-- plugin javascript -->
	<script src="./js/plugins/metisMenu/jquery.metisMenu.js"></script>
	<script src="./js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="./js/plugins/toastr/toastr.min.js"></script>
	<script src="./js/jquery.twbsPagination.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./js/sweetalert.min.js"></script>

	<!-- common javascript -->
	<script src="./js/inspinia.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/common.js"></script>
	<% if (pagename) { %>
		<script src="<%='./js/'+ pagename +'.js'%>"></script>
	<% } %>
</body>

</html>