<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Toastr style -->
    <link href="./css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/animate.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./img/design.png" rel="icon">
    <script src="./js/jquery.min.js"></script>
</head>

<body class="skin-blue fixed-sidebar">
    <div id="wrapper">
        <%- include('sidebar') %>
        <div id="page-wrapper" class="gray-bg">
            <%- include('navbar') %>
            <div class="wrapper-content">
