<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Toastr style -->
    <link href="./css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/sweetalert.min.css" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/animate.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./img/design.png" rel="icon">

    <% if (pagename == 'users') { %>
		<link rel="stylesheet" href="./css/users.css">
    <% }else if(pagename == 'infos'){ %>
        <link rel="stylesheet" href="./css/infos.css">
    <% } %>

    <script src="./js/jquery.min.js"></script>
</head>

<body class="skin-blue fixed-sidebar">
    <div id="wrapper">
        <%- include('sidebar') %>
        <div id="page-wrapper" class="gray-bg">
            <%- include('navbar') %>
            <div class="wrapper-content">
