<div class="row border-bottom fixednav">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:;"><i class="fa fa-bars"></i> </a>
            <!-- <div style="position:relative;top:2px;margin-left:70px;font-size: 24px;line-height:53px;font-weight: bolder;text-align: center;
                text-shadow: 3px 2px 5px #b7adab;width: 200px;">
                <p>Inspania-Admin</p>
            </div> -->
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome&nbsp;&nbsp;xf_Chen</span>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-sign-out"></i>Log out
                </a>
            </li>
        </ul>

    </nav>
</div>