<%- include('../header') %>

<div id="App">
    <div class="panel panel-info">
        <div class="panel-heading">新增图书</div>
        <div class="panel-body" style="padding: 0px">
            <table class="table table-bordered " style="margin: 0px">
                <tr>
                    <td>图书名称: </td>
                    <td>
                        <input type="text" name="bookName" class="form-control" placeholder="bookName" v-model="newBook.name" />
                    </td>
                    <td>图书分类: </td>
                    <td>
                        <select class="form-control" v-model="newBook.type">
                            <option value="-1">chooseType</option>
                            <option value="1">文学</option>
                            <option value="2">悬疑</option>
                            <option value="3">儿童</option>
                            <option value="4">编程</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>图书位置: </td>
                    <td>
                        <input type="text" name="bookPlace" class="form-control" placeholder="bookPlace" v-model="newBook.place" />
                    </td>
                    <td colspan="2">
                        <font color="#FF0000" size="3">说明</font>: 图书位置输入规则：楼#楼层F房间号。例如：1#5F109，表示一栋5楼109室
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: center">
                        <button type="button" name="add" class="btn btn-success" style="margin: 0 30px;" @click="addBook">新 增</button>
                        <button type="button" name="clear" class="btn btn-warning" style="margin: 0 30px;" @click="clearInput">清 空</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">图书列表</div>
        <div class="panel-body" style="padding: 0px">
            <table class="table table-bordered table-striped" style="margin: 0px">
                <thead>
                    <tr>
                        <th>图书名称</th>
                        <th>图书类型</th>
                        <th>图书位置</th>
                        <th>图书操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in bookList">
                        <td v-show="!item.editable">{{item.name}}</td>
                        <td v-show="!item.editable">
                            <select class="form-control" v-model="item.type" disabled>
                                <option value="-1">chooseType</option>
                                <option value="1">文学</option>
                                <option value="2">悬疑</option>
                                <option value="3">儿童</option>
                                <option value="4">编程</option>
                            </select>
                        </td>
                        <td v-show="!item.editable">{{item.place}}</td>
                        <td v-show="!item.editable">
                            <button type="button" name="edit" class="btn btn-sm btn-success" @click="edit(index)">编辑</button>
                            <button type="button" name="del" class="btn btn-sm btn-warning" @click="delBook(item.id,index)">删除</button>
                        </td>

                        <td v-show="item.editable">
                            <input type="text" name="bookName" class="form-control" placeholder="bookName" v-model="item.name" />
                        </td>
                        <td v-show="item.editable">
                            <select class="form-control" v-model="item.type">
                                <option value="-1">chooseType</option>
                                <option value="1">文学</option>
                                <option value="2">悬疑</option>
                                <option value="3">儿童</option>
                                <option value="4">编程</option>
                            </select>
                        </td>
                        <td v-show="item.editable">
                            <input type="text" name="bookPlace" class="form-control" placeholder="bookPlace" v-model="item.place" />
                        </td>
                        <td v-show="item.editable">
                            <button type="button" name="save" class="btn btn-sm btn-success" @click="saveEdit(item.id,index)">保存</button>
                            <button type="button" name="edit" class="btn btn-sm btn-warning" @click="edit(index)">取消</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../footer') %>
