<%- include('../header') %>

<div class="allIn">
    <!-- 定位 -->
    <div class="partIn position">
        <div class="parent">
            <div class="child">
                this is test for position in CSS3!
            </div>
        </div>
    </div>
    <div class="partIn clip">
        <div class="parent">
            <div class="child">
                this is test for clip in CSS3!
            </div>
        </div>
    </div>

    <!-- 布局 -->
    <div class="partIn display">
        <div class="parent">
            <div class="child">
                this is test for display in CSS3!
            </div>
            <div class="child">
                this is test for display in CSS3!
            </div>
            <div class="child">
                this is test for display in CSS3!
            </div>
        </div>
    </div>

    <!-- 背景 -->
    <div class="partIn background">
        <div class="parent">
            <div class="child">
                <p>this is test for background in CSS3!</p>
                <p>this is test for background in CSS3!</p>
                <p>this is test for background in CSS3!</p>
            </div>
        </div>
    </div>

    <!-- text 文字 -->
    <div class="partIn text">
        <div class="parent">
            <div class="child">
                <p>this is test for text in CSS3!</p>
                <p>this is test for text in CSS3!</p>
            </div>
        </div>
    </div>

</div>

<%- include('../footer') %>
